{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}, Saison {{ season.number }}{% endblock %}
{% block body %}
    <div class="media">
        <h1 class="mt-0">{{ program.title }}, Saison {{ season.number }}</h1>
        <span> Année: {{ season.year }}</span>
        <p class="mt-3">{{ season.description }}</p>
    </div>
    {% for episode in episodes %}
		<div>
			<a href="{{ path("program_episode_show", { episode: episode.id, season: season.id, program: season.program.id}) }}">Episode {{ episode.number }}</a>
		</div>
	{% else %}
		<h2>Aucun episode trouvé.</h2>
	{% endfor %}
    <a href="{{ path('program_index') }}">
        Retour à la liste des saisons
    </a> 
{% endblock %}