{% extends 'base.html.twig' %}

{% block title %}Série #{{ id.id }}{% endblock %}
{% block body %}
    <div class="media">
        <img class="align-self-start mr-3" src="{{ id.poster }}" alt="{{ id.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ id.title }}</h1>
            <p>{{ id.summary }}</p>
            <p>Catégorie : {{ id.category.name }}</p>
        </div>
    </div>
    {% for season in seasons %}
		<div>
            <a href="{{ path("program_season_show", { season: season.id, program: season.program.id }) }}">Saison {{ season.number }}</a>		</div>
	{% else %}
		<h2>Aucune saison trouvée.</h2>
	{% endfor %}
    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}